/* color statics */
/* buttons - base colors here and offsets calculated in specific stylesheets for things like hovers */
/* line 1, ../../sass/_resets.scss */
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* line 7, ../../sass/_resets.scss */
.x-body {
  background: #e5e5e5;
}

/* line 12, ../../sass/_resets.scss */
.x-btn a {
  text-decoration: none;
}

/* line 3, ../../sass/admin/_media_choice.scss */
.wiki-viewer {
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  clear: both;
}

/* line 16, ../../sass/admin/_media_choice.scss */
.media-choice .media-btn {
  margin: 10px;
  background-color: #f5f5f5;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 22, ../../sass/admin/_media_choice.scss */
.media-choice .media-btn .x-btn-inner {
  color: #777;
}
/* line 26, ../../sass/admin/_media_choice.scss */
.media-choice .media-btn .icon-base, .media-choice .media-btn .icon-wiki, .media-choice .media-btn .icon-map, .media-choice .media-btn .icon-image, .media-choice .media-btn .icon-youtube, .media-choice .media-btn .icon-quote {
  width: 32px;
  height: 25px;
}
/* line 31, ../../sass/admin/_media_choice.scss */
.media-choice .media-btn .icon-wiki {
  background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -368px -235px !important;
}
/* line 36, ../../sass/admin/_media_choice.scss */
.media-choice .media-btn .icon-map {
  background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -403px -235px !important;
}
/* line 41, ../../sass/admin/_media_choice.scss */
.media-choice .media-btn .icon-image {
  background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -556px -235px !important;
}
/* line 46, ../../sass/admin/_media_choice.scss */
.media-choice .media-btn .icon-youtube {
  background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -600px -260px !important;
}
/* line 51, ../../sass/admin/_media_choice.scss */
.media-choice .media-btn .icon-quote {
  background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -456px -260px !important;
}

/* line 5, ../../sass/admin/_wikipedia.scss */
.wikipedia h4 {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 22px;
  font-family: "Georgia",Times New Roman,Times,serif;
}
/* line 11, ../../sass/admin/_wikipedia.scss */
.wikipedia h4 a {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
/* line 21, ../../sass/admin/_wikipedia.scss */
.wikipedia h4 a:hover {
  color: #0088cc;
}
/* line 26, ../../sass/admin/_wikipedia.scss */
.wikipedia .wiki-source {
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  height: auto;
  line-height: 19px;
  margin-bottom: 15px;
}
/* line 35, ../../sass/admin/_wikipedia.scss */
.wikipedia p {
  color: #666666;
}

/* line 21, ../../sass/util/_buttons.scss */
.story-default-btn {
  margin: 10px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(left top, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 10, ../../sass/util/_buttons.scss */
.story-default-btn:hover {
  border: 1px solid #c6c6c6;
}
/* line 14, ../../sass/util/_buttons.scss */
.story-default-btn .x-btn-inner {
  color: #444;
  font-size: 11px;
  font-weight: bold;
}

/* line 45, ../../sass/util/_buttons.scss */
.story-save-btn {
  margin: 10px 5px;
  background-color: #3d9400;
  border: 1px solid #29691d;
  background-image: -webkit-linear-gradient(top, #3d9400, #398a00);
  background: #3d9400;
}
/* line 32, ../../sass/util/_buttons.scss */
.story-save-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
  border: 1px solid #260000 !important;
  background: #368200;
}
/* line 38, ../../sass/util/_buttons.scss */
.story-save-btn .x-btn-inner {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

/* line 49, ../../sass/util/_buttons.scss */
.story-blue-btn {
  margin: 10px 5px;
  background-color: #4b8af4;
  border: 1px solid #3079ed;
  background-image: -webkit-linear-gradient(top, #4b8af4, #4780f4);
  background: #4b8af4;
}
/* line 32, ../../sass/util/_buttons.scss */
.story-blue-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
  border: 1px solid #2d000a !important;
  background: #4478f4;
}
/* line 38, ../../sass/util/_buttons.scss */
.story-blue-btn .x-btn-inner {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

/* color statics */
/* buttons - base colors here and offsets calculated in specific stylesheets for things like hovers */
/* line 6, ../../sass/util/_inputs.scss */
.story-default-textfield .input-field, .story-default-textfield input, .story-default-textfield textarea, .story-default-textfield .editor-container .desc-field, .editor-container .story-default-textfield .desc-field {
  padding: 2px 5px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 12, ../../sass/util/_inputs.scss */
.story-default-textfield input {
  height: 35px;
  font-size: 13px;
  line-height: normal;
}

/* line 6, ../../sass/util/_inputs.scss */
.story-default-textarea .input-field, .story-default-textarea input, .story-default-textarea textarea, .story-default-textarea .editor-container .desc-field, .editor-container .story-default-textarea .desc-field {
  padding: 2px 5px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 12, ../../sass/util/_inputs.scss */
.story-default-textarea input {
  height: 35px;
  font-size: 13px;
  line-height: normal;
}

/* line 6, ../../sass/util/_inputs.scss */
.story-default-input .input-field, .story-default-input input, .story-default-input textarea, .story-default-input .editor-container .desc-field, .editor-container .story-default-input .desc-field {
  padding: 2px 5px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 12, ../../sass/util/_inputs.scss */
.story-default-input input {
  height: 35px;
  font-size: 13px;
  line-height: normal;
}

/* line 6, ../../sass/util/_inputs.scss */
.story-default-date-field .input-field, .story-default-date-field input, .story-default-date-field textarea, .story-default-date-field .editor-container .desc-field, .editor-container .story-default-date-field .desc-field {
  padding: 2px 5px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
/* line 12, ../../sass/util/_inputs.scss */
.story-default-date-field input {
  height: 35px;
  font-size: 13px;
  line-height: normal;
}
/* line 26, ../../sass/util/_inputs.scss */
.story-default-date-field .x-form-focus {
  box-shadow: none !important;
}

/* line 3, ../../sass/admin/_dropzone.scss */
.drop-zone {
  border: 1px dashed #a4a4a4;
  border-color: #a4a4a4;
}
/* line 9, ../../sass/admin/_dropzone.scss */
.drop-zone .x-box-inner {
  background-color: #E9E9E9;
}
/* line 13, ../../sass/admin/_dropzone.scss */
.drop-zone .drop-body {
  border: none;
}
/* line 17, ../../sass/admin/_dropzone.scss */
.drop-zone .drop-body .x-box-target {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  position: relative;
  text-align: center;
  top: 30%;
}
/* line 25, ../../sass/admin/_dropzone.scss */
.drop-zone .drop-body .x-box-target .drop-img {
  background: url(../../../images/icons/icons.png) no-repeat -179px 0;
  width: 64px;
  height: 64px;
}
/* line 31, ../../sass/admin/_dropzone.scss */
.drop-zone .drop-body .x-box-target .drop-msg {
  color: #a4a4a4;
  font-size: 26px;
}

/* line 40, ../../sass/admin/_dropzone.scss */
.drop-zone-over {
  border-color: #4d90f3;
}
/* line 44, ../../sass/admin/_dropzone.scss */
.drop-zone-over .x-box-inner {
  background-color: #E7F0FF !important;
}
/* line 49, ../../sass/admin/_dropzone.scss */
.drop-zone-over .x-box-target .drop-img {
  background: url(../../../images/icons/icons.png) no-repeat -66px 0 !important;
}
/* line 53, ../../sass/admin/_dropzone.scss */
.drop-zone-over .x-box-target .drop-msg {
  color: #4d90f3 !important;
}

/* line 4, ../../sass/admin/_uploader.scss */
.upload-preview img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 647px;
  height: 400px;
}

/* line 11, ../../sass/admin/_uploader.scss */
.progress-bar {
  border: 1px solid #4D4DF3;
  z-index: 20000;
}
/* line 16, ../../sass/admin/_uploader.scss */
.progress-bar .x-progress-bar {
  background-color: #4d90f3;
}

/* line 7, ../../sass/admin/_media_builder.scss */
.wizard-ctrls {
  padding: 10px;
}
/* line 11, ../../sass/admin/_media_builder.scss */
.wizard-ctrls .nav-btn {
  margin: 10px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(left top, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 10, ../../sass/util/_buttons.scss */
.wizard-ctrls .nav-btn:hover {
  border: 1px solid #c6c6c6;
}
/* line 14, ../../sass/util/_buttons.scss */
.wizard-ctrls .nav-btn .x-btn-inner {
  color: #444;
  font-size: 11px;
  font-weight: bold;
}

/* line 21, ../../sass/admin/_media_builder.scss */
.media-builder .credit {
  color: #999999;
}
/* line 29, ../../sass/admin/_media_builder.scss */
.media-builder .credit-container {
  padding-right: 35px;
}
/* line 33, ../../sass/admin/_media_builder.scss */
.media-builder .caption-container {
  padding-left: 25px;
}

/* line 3, ../../sass/admin/_dataview.scss */
.data-view {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}
/* line 8, ../../sass/admin/_dataview.scss */
.data-view .story {
  width: 325px;
  height: 130px;
  margin: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: #aaaaaa 2px 2px 10px;
  -moz-box-shadow: #aaaaaa 2px 2px 10px;
  box-shadow: #aaaaaa 2px 2px 10px;
  cursor: url(../../../images/icons/openhand_8_8.cur), move;
}
/* line 21, ../../sass/admin/_dataview.scss */
.data-view .story:hover {
  -webkit-box-shadow: #777777 2px 2px 10px;
  -moz-box-shadow: #777777 2px 2px 10px;
  box-shadow: #777777 2px 2px 10px;
}
/* line 27, ../../sass/admin/_dataview.scss */
.data-view .story .img-container {
  float: left;
}
/* line 30, ../../sass/admin/_dataview.scss */
.data-view .story .img-container img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 130px;
  width: 130px;
}
/* line 39, ../../sass/admin/_dataview.scss */
.data-view .story .content {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
/* line 46, ../../sass/admin/_dataview.scss */
.data-view .story .content .title {
  font-weight: bold;
  text-align: center;
}
/* line 51, ../../sass/admin/_dataview.scss */
.data-view .story .content .edit-btn {
  margin: 10px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: whitesmoke;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(left top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(left top, #f5f5f5, #f1f1f1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 30px 30px 0 30px;
  cursor: pointer;
}
/* line 10, ../../sass/util/_buttons.scss */
.data-view .story .content .edit-btn:hover {
  border: 1px solid #c6c6c6;
}
/* line 14, ../../sass/util/_buttons.scss */
.data-view .story .content .edit-btn .x-btn-inner {
  color: #444;
  font-size: 11px;
  font-weight: bold;
}
/* line 60, ../../sass/admin/_dataview.scss */
.data-view .story .tool-btns, .data-view .story .index, .data-view .story .close-btn {
  float: right;
  margin: 4px;
  height: 15px;
  width: 15px;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #a4a4a4;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
}
/* line 77, ../../sass/admin/_dataview.scss */
.data-view .story .index {
  margin-right: 4px;
}
/* line 82, ../../sass/admin/_dataview.scss */
.data-view .story .close-btn {
  margin-top: -20px;
  opacity: 0;
  cursor: pointer;
}

/* line 3, ../../sass/admin/_event_window.scss */
.event-window {
  border: none;
  border-top: 1px solid #CCCCCC;
}

/* line 3, ../../sass/admin/_toolbar.scss */
.top-toolbar-1 {
  background-color: #2d2d2d;
  /* #294762; */
}

/* line 7, ../../sass/admin/_toolbar.scss */
.top-toolbar-2 {
  background-color: #FFFFFF;
}

/* line 11, ../../sass/admin/_toolbar.scss */
.top-toolbar-3 {
  background-color: #F5F5F5;
}

/* line 11, ../../sass/admin/admin.scss */
.editor-container {
  width: 93%;
  height: 100%;
}
/* line 15, ../../sass/admin/admin.scss */
.editor-container .input-field, .editor-container .story-default-textfield input, .story-default-textfield .editor-container input, .editor-container .story-default-textfield textarea, .story-default-textfield .editor-container textarea, .editor-container .story-default-textarea input, .story-default-textarea .editor-container input, .editor-container .story-default-textarea textarea, .story-default-textarea .editor-container textarea, .editor-container .story-default-input input, .story-default-input .editor-container input, .editor-container .story-default-input textarea, .story-default-input .editor-container textarea, .editor-container .story-default-date-field input, .story-default-date-field .editor-container input, .editor-container .story-default-date-field textarea, .story-default-date-field .editor-container textarea, .editor-container .title-field input, .editor-container .desc-field {
  padding: 2px 5px;
}
/* line 20, ../../sass/admin/admin.scss */
.editor-container .title-field input {
  height: 50px;
  font-size: 36px;
  line-height: 38px;
  font-family: "Georgia",Times New Roman,Times,serif;
}
/* line 29, ../../sass/admin/admin.scss */
.editor-container .desc-field {
  height: 100px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}
/* line 36, ../../sass/admin/admin.scss */
.editor-container .desc-field .x-toolbar {
  border: none;
}
