/* line 1, ../../sass/_resets.scss */
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* line 7, ../../sass/_resets.scss */
.x-body {
  background: #FFFFFF;
}

/* line 12, ../../sass/_resets.scss */
.x-btn a {
  text-decoration: none;
}

/* line 5, ../../sass/admin/admin.scss */
.editor-container {
  width: 93%;
  height: 100%;
}
/* line 9, ../../sass/admin/admin.scss */
.editor-container .input-field, .editor-container .title-field input, .editor-container .desc-field {
  padding: 2px 5px;
}
/* line 14, ../../sass/admin/admin.scss */
.editor-container .title-field input {
  height: 50px;
  font-size: 36px;
  line-height: 38px;
  font-family: "Georgia",Times New Roman,Times,serif;
}
/* line 23, ../../sass/admin/admin.scss */
.editor-container .desc-field {
  height: 100px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}
/* line 30, ../../sass/admin/admin.scss */
.editor-container .desc-field .x-toolbar {
  border: none;
}
