@import "compass/css3";

.search-box {
	input {
			
	}
}

.search-box-list {
	.search-box-list-item {
		padding: 15px;
		
		span {
			
		}
		
		surname {}
		alt-surnames {}
		
	}

}

.search-btn{
	padding-left: 9px;
	padding-right: 7px; 

	.search-icon {
		background-image: url(../../../images/icons/search.png);
		background-size: 57px 45px; 
		background-position: -28px 7px;
	}
}