
/* color statics */
$default-border: #C4C4C4;
$light-gray: #C4C4C4;
$darker-gray: #A4A4A4;


/* buttons - base colors here and offsets calculated in specific stylesheets for things like hovers */
$default-btn-color: #f5f5f5;
$save-btn-color: #3d9400;
$save-btn-border-color: #29691d;	
$default-btn-font-size: 11px;