@import "compass/css3";

@mixin default-btn {
	margin: 10px 5px;
	@include border-radius(3px);
	background-color: $default-btn-color;
	@include background-image(linear-gradient(left top,#f5f5f5,#f1f1f1));		
	border: 1px solid rgba(0,0,0,0.1);
	
	&:hover {
		border: 1px solid rgb(198,198,198);
	}
	
	.x-btn-inner { 
		color: #444;
		font-size:  $default-btn-font-size;
		font-weight: bold; 
	} 
}

.story-default-btn {
	@include default-btn;
}

@mixin story-btn($btn-color: $save-btn-color, $btn-border-color: $save-btn-border-color) {
	margin: 10px 5px;
	background-color: $btn-color;	
	border: 1px solid $btn-border-color;
	background-image: -webkit-linear-gradient(top, $btn-color, $btn-color - #040A00 );
	background: $btn-color;	

	&:hover {
		@include box-shadow(rgba(0,0,0,0.3) 0 1px 2px inset);					
		border: 1px solid ($btn-border-color - #03F8E3) !important;
		background: $btn-color - #071200;	
	}
	
	.x-btn-inner { 
		color: #fff;
		font-size: $default-btn-font-size;
		font-weight: bold; 
	} 
}

.story-save-btn {
	@include story-btn;	
}

.story-blue-btn {
	@include story-btn(#4b8af4, #3079ed);
}

