@import "compass/css3";

.data-view {
	
	@include display-box;
	@include box-orient(horizontal);		

	.story {
		$radius: 3px; 
		$img-size: 130px;
		$width: $img-size * 2.5; 
		$height: $img-size;
	
		width: $width;
		height: $height;		
		margin: 13px;		
		@include border-radius($radius);	
		background-color: #FFFFFF;
		@include box-shadow(#AAA 2px 2px 10px);
		cursor: url(../../../images/icons/openhand_8_8.cur),move; 				
		&:hover {			
			@include box-shadow(#777 2px 2px 10px);
			
		} 	
		
		
		.img-container {
			float: left;
		
			img {
				@include border-radius($radius);
				height: $img-size;
				width: $img-size;
			}
		
		}
			
		
		.content {			
			height: 100%;
			@include display-box;								
			@include box-orient(vertical);
			@include box-align(stretch);
			@include box-pack(center);
			 
			.title {				
				font-weight: bold;
				text-align: center;
			}			
			
			.edit-btn {
				@include default-btn;
				text-align: center;
				margin: 30px 30px 0 30px;
				cursor: pointer;				
			}		
		
		}
		
		.tool-btns {
			$size: 15px;
			
			float: right;
			margin: 4px;	
			height: $size;
			width: $size;			
			color: white;
			@include border-radius(20px);
			background-color: $darker-gray; 
			background-position: center;
			text-align: center;
			vertical-align: middle;
			line-height: $size;
			
		}
		
		.index {
			@extend .tool-btns;
			margin-right: 4px;			
		}
		
		.close-btn {
			@extend .tool-btns;
			margin-top: -20px;
			opacity: 0;
			cursor: pointer;
		}
		
			
	}	
	
	 	
 }
 
 
