@import "compass/css3";
@import "../util/buttons";
@import "../util/inputs";
@import "dropzone";
@import "uploader";

.wizard-ctrls {

	padding: 10px;
		
	.nav-btn {			
		@include default-btn;		
	}	
		
}
 .media-builder {
 	
 	.credit {	
		color: #999999;																
	}
	
	.caption {
		
	}
	
	.credit-container {
		padding-right: 35px;
	}
	
	.caption-container {
		padding-left: 25px;
	}	
	
 }
 
 
