@import "compass/css3";

.wiki-viewer {
	font-size: 15px;
	line-height: 20px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	clear: both;
}

.media-choice {
	

	.media-btn {
		margin: 10px;
		background-color: #f5f5f5;
		background-image: none;
		border: 1px solid rgba(0,0,0,0.1);
				
		.x-btn-inner {
			color: #777;		 
		}	
		
		.icon-base {			
			width: 32px;
			height: 25px;
		}
			
		.icon-wiki {
			@extend .icon-base;
			background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -368px -235px !important;					
		}
		
		.icon-map {
			@extend .icon-base;
			background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -403px -235px !important;	
		}	
		
		.icon-image {
			@extend .icon-base;
			background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -556px -235px !important;							
		}	
		
		.icon-youtube {
			@extend .icon-base;
			background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -600px -260px !important;									
		}	
		
		.icon-quote {
			@extend .icon-base;
			background: transparent url(../../../assets/timeline/compiled/css/timeline@2x.png) no-repeat -456px -260px !important;									
		}	
				
	}	
	

}