@import "compass/css3";
@import "search/searchbox";


.top-toolbar-1 {
	background-color: #2d2d2d; /* #294762; */ 
}

.top-toolbar-2 {
	background-color: #FFFFFF; 
}

.top-toolbar-3 {
	background-color: #F5F5F5; 
}