@import "compass/css3";

.upload-preview {
	#image-preview {	
		width: 647px;
		height: 400px;		
	}
	
}

.progress-bar {
	border: 1px solid #4D4DF3;
	
	z-index: 20000;
	
	.x-progress-bar {
		background-color: #4d90f3;
	}
}