@import "compass/css3";
@import "../base";
@import "../resets";
@import "media_choice";
@import "wikipedia";
@import "media_builder";

.editor-container {
	width: 93%;
	height: 100%;
	
	.input-field {
		padding: 2px 5px;
	}
	
	.title-field {
		input {
			@extend .input-field;
			height: 50px;
			font-size: 36px;
			line-height: 38px;
			font-family: "Georgia",Times New Roman,Times,serif;			
		}			
	}
	
	.desc-field {		
			@extend .input-field;
			height: 100px;
			font-size: 15px;
			font-weight: normal;
			line-height: 20px;			
						
			.x-toolbar {
				border: none;
			}		
	}
}